# Ignore results
prevalences*
prevalence*
results*
runs
input* 
output/
output*
output

# Ignore input files
input_*

# Ignore special files
.DS_Store

# Sublime workspace files
*.sublime-project
*.sublime-workspace

# special folder to hide things in
hide

# pyc compiled files
*.pyc
